body {
  background-color: #FFF4F0;
  color: #E11505;
  font-family: 'Noto Sans JP', sans-serif;
  padding: 7rem;
  padding-top: 5rem;
}
a {
  color: #E11505;
  text-decoration: none;
}
a:hover {
  color: rgba(225,21,5,0.7);
}
h1 {
  font-size: 7rem;
  letter-spacing: -0.05em;
  line-height: 1.1;
  margin: 0;
  margin-left: -8px;
}
.welcome-message {
  display: inline-block;
  margin-bottom: 0.5rem;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.icon {
  background-position: center;
  display: inline-block;
  height: 24px;
  text-align: center;
  width: 24px;
}
.icon svg {
  height: 24px;
  width: 24px;
}
.logo {
  margin-bottom: 5rem;
}
.welcome {
  margin-bottom: 7rem;
}
.info {
  align-items: baseline;
  border-top: 2px solid #E11505;
  display: flex;
}
.info h4 {
  flex: 1;
  margin-right: 3rem;
  padding-top: 1rem;
}
.info ul {
  flex: 3;
}
.info ul li a {
  align-items: center;
  border-bottom: 1px solid rgba(225,21,5,0.2);
  display: flex;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
.info ul li .icon {
  flex-basis: 24px;
  margin-right: 2rem;
}

@media (max-width: 700px) {
  body {
    padding: 2rem;
  }
  h1 {
    font-size: 4.5rem;
  }
  section {
    margin-bottom: 3rem;
  }
  .info {
    display: block;
    margin-left: 0;
  }
  .info ul li i {
    margin-right: 1rem;
  }
}
